Repository persinac/jcp-front-end: changes, and which CircleCI parameters are due for each by the changed paths.
All: src-modified, entry-modified, dockerfile-modified

updated circleci conf
  .circleci/workflows.yml
Due: none

updated circleci conf job name(s)
  .circleci/workflows.yml
Due: none

fixed aws context name
  .circleci/workflows.yml
Due: none

adding some logging and updated orbs versions
  .circleci/workflows.yml
Due: none

fixed ci orb name
  .circleci/workflows.yml
Due: none

adding outputs
  .circleci/workflows.yml
Due: none

changing default aws id param keys
  .circleci/workflows.yml
Due: none

removed ci echo. added sidecar.css.
  .circleci/workflows.yml
  src/sidecar.css
Due: src-modified

adding aws cli setup to deploy ui step
  .circleci/workflows.yml
Due: none

explicitly setting some values
  .circleci/workflows.yml
Due: none

updated dnc directory
  .gitignore
Due: none

updated build conditional
  .circleci/workflows.yml
Due: none

Forcing build
  src/api.js
Due: src-modified, entry-modified

updating process.env api endpoints
  src/components/Program/api.js
  src/components/Settings/api.js
Due: src-modified, entry-modified

Path conditions:
  src-modified: any of: src/.*
  entry-modified: any of: .*\.js$
  dockerfile-modified: any of: Docker*
